@import "_reset";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.container {
  width: 100%;
  max-width: 637px;
  background: #fff;
  border-radius: 32px;
  padding: 44px;
}

.header {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #1F2937;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #4B5563;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &-field {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    &__label {
      font-size: 14px;
      line-height: 20px;
      color: #6F6C90;
    }

    &__input,
    &__textarea,
    &__select {
      width: 100%;
      padding: 13px 15px;
      font-size: 16px;
      line-height: 28px;
      border: 1px solid #F7F7FB;
      border-radius: 8px;
      background-color: #F7F7FB;

      &:hover {
        border-color: #D9DBE9;
      }

      &:focus {
        border-color: #4A3AFF;
        outline: none;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 28px;
        color: #94a3b8;
      }
    }

    &__select {
      &[value=""] {
        font-size: 16px;
        line-height: 28px;
        color: #94a3b8;
      }
    }

    &__textarea {
      resize: none;
    }
  }

  &-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;

    &-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 28px;

      .form-field {
        max-width: calc((100% - 28px) / 2);
      }
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    gap: 28px;
  }
}

.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;

  &__title {
    margin-bottom: 8px;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
}

.button {
  padding: 13px 43px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #4A3AFF;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  flex: 1;

  &:active {
    transform: scale(0.98);
  }

  &--primary {
    background-color: #4A3AFF;
    color: #FFF;

    &:hover {
      background-color: #2A1CCA;
    }

    &:focus {
      background-color: #191086;
    }
  }

  &--secondary {
    background-color: #FFF;
    color: #4A3AFF;

    &:hover {
      background-color: #F7F7FB;
    }

    &:focus {
      background-color: #D9DBE9;
    }
  }
}

.rating-stars {
  align-self: center;
  display: flex;
  gap: 22px;

  &__star {
    min-width: 44px;
    min-height: 44px;
    padding: 0;
    background-size: cover;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18.8192%201.66727C18.6633%201.38906%2018.436%201.15743%2018.1609%200.996204C17.8857%200.834983%2017.5725%200.75%2017.2536%200.75C16.9346%200.75%2016.6215%200.834983%2016.3463%200.996204C16.0711%201.15743%2015.8438%201.38906%2015.6879%201.66727C15.3212%202.3346%2014.9686%203.01049%2014.6301%203.69494C13.5634%205.86002%2012.6566%208.10022%2011.9167%2010.3976C11.6619%2011.1878%2010.9066%2011.7359%2010.0412%2011.7598C7.41814%2011.8287%204.80357%2012.0891%202.21841%2012.5389C0.799406%2012.7883%200.265906%2014.4053%201.27424%2015.3916C1.50402%2015.6177%201.73624%2015.8408%201.97091%2016.0608C3.72552%2017.7178%205.58071%2019.2651%207.52591%2020.6936C8.19874%2021.1868%208.47557%2022.0319%208.21891%2022.8056C7.24117%2025.7445%206.54144%2028.7687%206.12891%2031.8384C5.94557%2033.2226%207.42691%2034.1998%208.71391%2033.5398C11.266%2032.2312%2013.7064%2030.7155%2016.0106%2029.0078C16.3715%2028.7443%2016.8067%2028.6024%2017.2536%2028.6024C17.7004%2028.6024%2018.1357%2028.7443%2018.4966%2029.0078C20.8003%2030.7161%2023.2408%2032.2319%2025.7932%2033.5398C27.0784%2034.1998%2028.5616%2033.2226%2028.3782%2031.8384C28.3074%2031.319%2028.2297%2030.8026%2028.1454%2030.2893C27.7219%2027.7502%2027.1009%2025.2481%2026.2882%2022.8056C26.0316%2022.0319%2026.3066%2021.1868%2026.9812%2020.6936C29.1881%2019.0766%2031.2772%2017.3048%2033.2329%2015.3916C34.2412%2014.4053%2033.7096%2012.7883%2032.2887%2012.5389C29.7039%2012.0865%2027.0892%2011.8261%2024.4659%2011.7598C24.0512%2011.7532%2023.6485%2011.6188%2023.3129%2011.3751C22.9773%2011.1313%2022.725%2010.79%2022.5904%2010.3976C21.6163%207.37383%2020.3535%204.44902%2018.8192%201.66727Z%22%20stroke%3D%22%23D9DBE9%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat center;
    background-size: 33px 33px;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    &:hover,
    &--active {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M18.0653%200.917272C17.9094%200.63906%2017.6821%200.407425%2017.4069%200.246204C17.1318%200.0849835%2016.8186%200%2016.4997%200C16.1807%200%2015.8675%200.0849835%2015.5924%200.246204C15.3172%200.407425%2015.0899%200.63906%2014.934%200.917272C14.5673%201.5846%2014.2147%202.26049%2013.8762%202.94494C12.8095%205.11002%2011.9026%207.35022%2011.1628%209.6476C10.908%2010.4378%2010.1527%2010.9859%209.28732%2011.0098C6.66422%2011.0787%204.04965%2011.3391%201.46448%2011.7889C0.0454845%2012.0383%20-0.488016%2013.6553%200.520318%2014.6416C0.750095%2014.8677%200.982318%2015.0908%201.21698%2015.3108C2.9716%2016.9678%204.82679%2018.5151%206.77198%2019.9436C7.44482%2020.4368%207.72165%2021.2819%207.46498%2022.0556C6.48725%2024.9945%205.78752%2028.0187%205.37498%2031.0884C5.19165%2032.4726%206.67298%2033.4498%207.95998%2032.7898C10.5121%2031.4812%2012.9525%2029.9655%2015.2566%2028.2578C15.6176%2027.9943%2016.0528%2027.8524%2016.4997%2027.8524C16.9465%2027.8524%2017.3817%2027.9943%2017.7427%2028.2578C20.0464%2029.9661%2022.4868%2031.4819%2025.0393%2032.7898C26.3245%2033.4498%2027.8077%2032.4726%2027.6243%2031.0884C27.5534%2030.569%2027.4758%2030.0526%2027.3915%2029.5393C26.968%2027.0002%2026.347%2024.4981%2025.5343%2022.0556C25.2777%2021.2819%2025.5527%2020.4368%2026.2273%2019.9436C28.4342%2018.3266%2030.5233%2016.5548%2032.479%2014.6416C33.4873%2013.6553%2032.9557%2012.0383%2031.5348%2011.7889C28.95%2011.3365%2026.3353%2011.0761%2023.712%2011.0098C23.2972%2011.0032%2022.8946%2010.8688%2022.559%2010.6251C22.2233%2010.3813%2021.9711%2010.04%2021.8365%209.6476C20.8624%206.62383%2019.5995%203.69902%2018.0653%200.917272Z%22%20fill%3D%22%23FFE01A%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat center;
      background-size: 33px 33px;
    }
  }
}

.quick-replies {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  &__button {
    padding: 5px 16px;
    font-size: 16px;
    line-height: 28px;
    background-color: #EFF0F6;
    border: none;
    border-radius: 100px;
    color: #170F49;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #6F6C90;
      color: #FFF;
    }

    &--active {
      background-color: #6F6C90;
      color: #FFF;
    }
  }
}

@media (max-width: 767px) {
  .container {
    border-radius: 16px;
    padding: 20px;
  }

  .title {
    font-size: 18px;
    line-height: 24px;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
  }

  .form {
    justify-content: space-between;
    min-height: 438px;

    &__wrapper {
      gap: 16px;
      min-height: 538px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &-field {
      &__input,
      &__textarea,
      &__select {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 20px;

        &::placeholder {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &__select {
        &[value=""] {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &-fields {
      gap: 16px;
    }

    &__bottom {
      width: 100%;
    }
  }

  .result-screen {
    gap: 44px;

    &__title {
      margin-bottom: 4px;
    }

    &__actions {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 20px;
    }
  }

  .button {
    padding: 9px 7px;
    font-size: 14px;
    line-height: 20px;
  }

  .rating-stars {
    gap: 8px;

    &__star {
      min-width: 32px;
      min-height: 32px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18.8192%201.66727C18.6633%201.38906%2018.436%201.15743%2018.1609%200.996204C17.8857%200.834983%2017.5725%200.75%2017.2536%200.75C16.9346%200.75%2016.6215%200.834983%2016.3463%200.996204C16.0711%201.15743%2015.8438%201.38906%2015.6879%201.66727C15.3212%202.3346%2014.9686%203.01049%2014.6301%203.69494C13.5634%205.86002%2012.6566%208.10022%2011.9167%2010.3976C11.6619%2011.1878%2010.9066%2011.7359%2010.0412%2011.7598C7.41814%2011.8287%204.80357%2012.0891%202.21841%2012.5389C0.799406%2012.7883%200.265906%2014.4053%201.27424%2015.3916C1.50402%2015.6177%201.73624%2015.8408%201.97091%2016.0608C3.72552%2017.7178%205.58071%2019.2651%207.52591%2020.6936C8.19874%2021.1868%208.47557%2022.0319%208.21891%2022.8056C7.24117%2025.7445%206.54144%2028.7687%206.12891%2031.8384C5.94557%2033.2226%207.42691%2034.1998%208.71391%2033.5398C11.266%2032.2312%2013.7064%2030.7155%2016.0106%2029.0078C16.3715%2028.7443%2016.8067%2028.6024%2017.2536%2028.6024C17.7004%2028.6024%2018.1357%2028.7443%2018.4966%2029.0078C20.8003%2030.7161%2023.2408%2032.2319%2025.7932%2033.5398C27.0784%2034.1998%2028.5616%2033.2226%2028.3782%2031.8384C28.3074%2031.319%2028.2297%2030.8026%2028.1454%2030.2893C27.7219%2027.7502%2027.1009%2025.2481%2026.2882%2022.8056C26.0316%2022.0319%2026.3066%2021.1868%2026.9812%2020.6936C29.1881%2019.0766%2031.2772%2017.3048%2033.2329%2015.3916C34.2412%2014.4053%2033.7096%2012.7883%2032.2887%2012.5389C29.7039%2012.0865%2027.0892%2011.8261%2024.4659%2011.7598C24.0512%2011.7532%2023.6485%2011.6188%2023.3129%2011.3751C22.9773%2011.1313%2022.725%2010.79%2022.5904%2010.3976C21.6163%207.37383%2020.3535%204.44902%2018.8192%201.66727Z%22%20stroke%3D%22%23D9DBE9%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat center;
      background-size: 24px 24px;

      &:hover,
      &--active {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M18.0653%200.917272C17.9094%200.63906%2017.6821%200.407425%2017.4069%200.246204C17.1318%200.0849835%2016.8186%200%2016.4997%200C16.1807%200%2015.8675%200.0849835%2015.5924%200.246204C15.3172%200.407425%2015.0899%200.63906%2014.934%200.917272C14.5673%201.5846%2014.2147%202.26049%2013.8762%202.94494C12.8095%205.11002%2011.9026%207.35022%2011.1628%209.6476C10.908%2010.4378%2010.1527%2010.9859%209.28732%2011.0098C6.66422%2011.0787%204.04965%2011.3391%201.46448%2011.7889C0.0454845%2012.0383%20-0.488016%2013.6553%200.520318%2014.6416C0.750095%2014.8677%200.982318%2015.0908%201.21698%2015.3108C2.9716%2016.9678%204.82679%2018.5151%206.77198%2019.9436C7.44482%2020.4368%207.72165%2021.2819%207.46498%2022.0556C6.48725%2024.9945%205.78752%2028.0187%205.37498%2031.0884C5.19165%2032.4726%206.67298%2033.4498%207.95998%2032.7898C10.5121%2031.4812%2012.9525%2029.9655%2015.2566%2028.2578C15.6176%2027.9943%2016.0528%2027.8524%2016.4997%2027.8524C16.9465%2027.8524%2017.3817%2027.9943%2017.7427%2028.2578C20.0464%2029.9661%2022.4868%2031.4819%2025.0393%2032.7898C26.3245%2033.4498%2027.8077%2032.4726%2027.6243%2031.0884C27.5534%2030.569%2027.4758%2030.0526%2027.3915%2029.5393C26.968%2027.0002%2026.347%2024.4981%2025.5343%2022.0556C25.2777%2021.2819%2025.5527%2020.4368%2026.2273%2019.9436C28.4342%2018.3266%2030.5233%2016.5548%2032.479%2014.6416C33.4873%2013.6553%2032.9557%2012.0383%2031.5348%2011.7889C28.95%2011.3365%2026.3353%2011.0761%2023.712%2011.0098C23.2972%2011.0032%2022.8946%2010.8688%2022.559%2010.6251C22.2233%2010.3813%2021.9711%2010.04%2021.8365%209.6476C20.8624%206.62383%2019.5995%203.69902%2018.0653%200.917272Z%22%20fill%3D%22%23FFE01A%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat center;
        background-size: 24px 24px;
      }
    }
  }

  .quick-replies {
    gap: 8px;

    &__button {
      padding: 8px 12px;
      font-size: 12px;
      line-height: 26px;
    }
  }
}