@use "_reset" as *;

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
.slide-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-forward-enter-active,
.slide-forward-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.slide-forward-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
.slide-forward-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-back-enter-active,
.slide-back-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.slide-back-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.slide-back-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.container {
  width: 100%;
  max-width: 637px;
  background: #fff;
  border-radius: 32px;
  padding: 44px;
}

.header {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #1F2937;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #4B5563;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &-field {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;

    &__label {
      font-size: 14px;
      line-height: 20px;
      color: #6F6C90;
    }

    &__input,
    &__textarea,
    &__select {
      width: 100%;
      padding: 13px 15px;
      font-size: 16px;
      line-height: 28px;
      border: 1px solid #F7F7FB;
      border-radius: 8px;
      background-color: #F7F7FB;

      &:hover {
        border-color: #D9DBE9;
      }

      &:focus {
        border-color: #4A3AFF;
        outline: none;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 28px;
        color: #94a3b8;
      }

      &--error {
        background-color: #FDF2F2;
        border-color: #FD2727;

        &:focus,
        &:hover {
          background-color: #FDF2F2;
          border-color: #FD2727;
        }
      }
    }

    &__select {
      &[value=""] {
        font-size: 16px;
        line-height: 28px;
        color: #94a3b8;
      }
    }

    &__textarea {
      resize: none;
    }

    &__error {
      position: absolute;
      font-size: 14px;
      line-height: 20px;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      color: #FD2727;
    }
  }

  &-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;

    &-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 28px;

      .form-field {
        max-width: calc((100% - 28px) / 2);
      }
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    gap: 28px;
  }
}

.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;

  &__title {
    margin-bottom: 8px;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
}

.button {
  padding: 13px 43px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #4A3AFF;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  flex: 1;

  &:active {
    transform: scale(0.98);
  }

  &--primary {
    background-color: #4A3AFF;
    color: #FFF;

    &:hover {
      background-color: #2A1CCA;
    }

    &:focus {
      background-color: #191086;
    }
  }

  &--secondary {
    background-color: #FFF;
    color: #4A3AFF;

    &:hover {
      background-color: #F7F7FB;
    }

    &:focus {
      background-color: #D9DBE9;
    }
  }
}

.rating-stars {
  align-self: center;
  display: flex;
  gap: 22px;
  padding-bottom: 8px;

  &__star {
    max-width: 44px;
    width: 100%;
    max-height: 44px;
    padding: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;

    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.quick-replies {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 8px;

  &__button {
    padding: 5px 16px;
    font-size: 16px;
    line-height: 28px;
    background-color: #EFF0F6;
    border: none;
    border-radius: 100px;
    color: #170F49;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #6F6C90;
      color: #FFF;
    }

    &--active {
      background-color: #6F6C90;
      color: #FFF;
    }
  }
}

@media (max-width: 767px) {
  .container {
    border-radius: 16px;
    padding: 20px;
  }

  .title {
    font-size: 18px;
    line-height: 24px;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
  }

  .form {
    justify-content: space-between;
    min-height: 438px;

    &__wrapper {
      gap: 16px;
      min-height: 538px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &-field {
      &__input,
      &__textarea,
      &__select {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 20px;

        &::placeholder {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &__select {
        &[value=""] {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &__error {
        font-size: 12px;
        line-height: 14px;
      }
    }

    &-fields {
      gap: 16px;
    }

    &__bottom {
      width: 100%;
    }
  }

  .result-screen {
    gap: 44px;

    &__title {
      margin-bottom: 4px;
    }

    &__actions {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 20px;
    }
  }

  .button {
    padding: 11px 7px;
    font-size: 14px;
    line-height: 20px;
  }

  .rating-stars {
    gap: 8px;
    padding-bottom: 0;

    &__star {
      max-width: 32px;
      max-height: 32px;
      padding: 4px;
    }
  }

  .quick-replies {
    gap: 8px;
    padding-bottom: 0;

    &__button {
      padding: 8px 12px;
      font-size: 12px;
      line-height: 26px;
    }
  }
}