@use 'variables' as *;
@use 'typography' as *;

body {
  font-family: $font-family-base;
  font-weight: 400;
  line-height: 1;
  letter-spacing: $letter-spacing-base;
  background-color: $color-400;
}

.container {
  width: 100%;
  max-width: 637px;
  background: $color-100;
  border-radius: $radius-lg;
  padding: $spacing-3xl;

  @media (max-width: $breakpoint-mobile) {
    border-radius: 16px;
    padding: $spacing-lg;
  }
}

.header {
  text-align: center;
}

.title {
  @include H-h2;
  color: $color-800;
  margin-bottom: $spacing-sm;

  @media (max-width: $breakpoint-mobile) {
    @include H-h5; // мобильный h2 → h5 по стайлгайду
    margin-bottom: $spacing-xs;
  }
}

.description {
  @include P-small;
  color: $color-700;

  @media (max-width: $breakpoint-mobile) {
    @include P-mini;
  }
}